.summary button {
  background-color: rgb(239, 108, 15);
  padding: 2rem;
}

.items {
  width: 20rem;
  height: 30rem;
  border: 1px solid grey;
}

.summary {
  width: 60rem;
  margin-inline: auto;
}

.summary h1 {
  text-align: center;
  font-size: 2.2rem;
  background-color: rgb(72, 173, 72);
  color: white;
  margin-bottom: 2.3rem;

  padding: 0.5rem;

  width: rem;
  margin-inline: auto;

  border-radius: 5px;
}

.summary h2 {
  font-size: 2rem;
}

/*Arrows*/
.summary .arrows {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 7rem;
  width: 17rem;
  margin-inline: auto;
  border: 1px solid blue;
}

.summary .arrows .left-arrow,
.summary .arrows .right-arrow {
  color: white;
  width: 6rem;
  margin: 0;
}

.summary .arrows .left-arrow:hover,
.summary .arrows .right-arrow:hover {
  filter: brightness(80%);
}

.summary .arrows .left-arrow {
  display: grid;
  justify-self: center;
}

.summary img.right-arrow {
  order: 3px solid red;
  justify-self: right;
}

@media only screen and (min-width: 1200px) {
  .summary .arrows {
    margin-inline: auto;
    width: 105rem;
    order: 1px solid blue;
  }
}

@media only screen and (min-width: 480px) {
  .delivery-time-container .arrows {
    width: 34rem;
  }
}

@media only screen and (min-width: 760px) {
  .summary .arrows {
    width: 55rem;
  }
}
