 .right {float:right}
 
 
 h4.contactlist-heading {
     width:400px;
     margin-right:auto;
     margin-left: auto;

 }
 
 
 /* * { margin: 0px;
     padding: 0px} */

h2 {padding:10px}
 
 .addcontact {
    width:400px;
    margin-right:auto;
    margin-left: auto;
        
} 

.header {
text-align: center;
border-bottom: 2px solid grey;
margin-bottom:17px
}

.label {
    display:block
}

.input {
     margin-left: 20px;
     margin-bottom: 10px;
     margin-top: 3px
    }

.btn { 
margin-top: 10px;
}

.contactlist {
    margin-top:40px;
    width:400px;
    margin-right:auto;
    margin-left: auto;

}

.contactCard {
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom:1px solid grey;
    color:rgb(72, 72, 255)
}

.name-and-email {
    display:inline-block;
    margin-left:10px
}

.name-in-contact-card {
    font-weight: bold
}




.person {

    color: grey;
    width: 25px;
    margin-right: 20px;
    position: relative;
    top: -13px;
    fill:  green
   
    
}

.trash {
    color: grey;
    width: 20px;
    margin-right: 20px;
   
    position: relative;
    top: 16px;
    float: right;
    cursor: pointer
    
}




